@font-face {
  font-family: "forestry-icons";
  src: url("/fonts/forestry-icons.eot?gx3yf4");
  src: url("/fonts/forestry-icons.eot?gx3yf4#iefix") format("embedded-opentype"),
    url("/fonts/forestry-icons.ttf?gx3yf4") format("truetype"),
    url("/fonts/forestry-icons.woff?gx3yf4") format("woff"),
    url("/fonts/forestry-icons.svg?gx3yf4#forestry-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {font-family: "Alte Haas Grotesk Bold V1";
  src: url("/fonts/8dddfc4c12cf25d9913689b1969523d7.eot"); /* IE9*/
  src: url("/fonts/8dddfc4c12cf25d9913689b1969523d7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/8dddfc4c12cf25d9913689b1969523d7.woff2") format("woff2"), /* chrome、firefox */
  url("/fonts/8dddfc4c12cf25d9913689b1969523d7.woff") format("woff"), /* chrome、firefox */
  url("/fonts/8dddfc4c12cf25d9913689b1969523d7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/fonts/8dddfc4c12cf25d9913689b1969523d7.svg#Alte Haas Grotesk Bold V2") format("svg"); /* iOS 4.1- */
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "forestry-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
  content: "\e909";
}
.icon-arrow_up:before {
  content: "\e90a";
}
.icon-arrow_left:before {
  content: "\e900";
}
.icon-arrow_right:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-menu_icon:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-neutral:before {
  content: "\e906";
}
.icon-happy:before {
  content: "\e907";
}
.icon-confused:before {
  content: "\e908";
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: #000;
}

html, body, #__next {
  min-height: 100%;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

body::before {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -9999px;
  display: block;
}
@media screen and (max-width: 768px){
  body::before {
    content: 'mobile' 
  }  
}
@media screen and (min-width: 768px){
  body::before {
    content: 'tablet' 
  }  
}

button {
  cursor: pointer;
}

/* @media #{$normal} {
  content: 'normal';
}
@media #{$wide} {
  content: 'wide';
} */